In [23]:
#Utilizo la libreria de Pandas

import pandas as pd

In [24]:
#Guardo los datos del CSV en un Data Frame llamado df

df = pd.read_csv("homicidios_source.csv")

In [25]:
#Muestro la cantidad de filas y columnas de mi dataset

df.shape

(84294, 9)

In [ ]:
#Revisar un resumen rapido de mi Data Frame, numero de filas, columnas y cantidad de valores en cada una de ellas
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84294 entries, 0 to 84293
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   DEPARTAMENTO          82354 non-null  object
 1   MUNICIPIO             82354 non-null  object
 2   CODIGO DANE           82354 non-null  float64
 3   ARMAS MEDIOS          82354 non-null  object
 4   FECHA HECHO           82354 non-null  object
 5   GENERO                82354 non-null  object
 6   GRUPO ETARÍO          82354 non-null  object
 7   DESCRIPCIÓN CONDUCTA  84294 non-null  object
 8   CANTIDAD              82354 non-null  float64
dtypes: float64(2), object(7)
memory usage: 5.8+ MB

In [ ]:
#Visualizar el contenido de mi Data Frame, mostrar las primeras y ultimas 5 columnas y filas
df

,DEPARTAMENTO,MUNICIPIO,CODIGO DANE,ARMAS MEDIOS,FECHA HECHO,GENERO,GRUPO ETARÍO,DESCRIPCIÓN CONDUCTA,CANTIDAD
0,ANTIOQUIA,LA CEJA,5376000.0,MOTO,1/01/2010,MASCULINO,ADULTOS,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,1.0
1,ATLÁNTICO,BARRANQUILLA (CT),8001000.0,MOTO,1/01/2010,FEMENINO,ADULTOS,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,1.0
2,ATLÁNTICO,LURUACO,8421000.0,MOTO,1/01/2010,MASCULINO,ADULTOS,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,1.0
3,CAQUETÁ,PUERTO RICO,18592000.0,MOTO,1/01/2010,MASCULINO,ADOLESCENTES,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,1.0
4,CASANARE,AGUAZUL,85010000.0,MOTO,1/01/2010,MASCULINO,ADULTOS,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,1.0
...,...,...,...,...,...,...,...,...,...
84289,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,NaN
84290,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,NaN
84291,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,NaN
84292,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,NaN
84293,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,NaN

In [ ]:
#Revisar los encabezados de mi base de datos
df.columns

Index(['DEPARTAMENTO', 'MUNICIPIO', 'CODIGO DANE', 'ARMAS MEDIOS',
       'FECHA HECHO', 'GENERO', 'GRUPO ETARÍO', 'DESCRIPCIÓN CONDUCTA',
       'CANTIDAD'],
      dtype='object')

In [ ]:
#Revisar los primeros 15 registros de mi Data Frame
df.head(15)

,DEPARTAMENTO,MUNICIPIO,CODIGO DANE,ARMAS MEDIOS,FECHA HECHO,GENERO,GRUPO ETARÍO,DESCRIPCIÓN CONDUCTA,CANTIDAD
0,ANTIOQUIA,LA CEJA,5376000.0,MOTO,1/01/2010,MASCULINO,ADULTOS,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,1.0
1,ATLÁNTICO,BARRANQUILLA (CT),8001000.0,MOTO,1/01/2010,FEMENINO,ADULTOS,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,1.0
2,ATLÁNTICO,LURUACO,8421000.0,MOTO,1/01/2010,MASCULINO,ADULTOS,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,1.0
3,CAQUETÁ,PUERTO RICO,18592000.0,MOTO,1/01/2010,MASCULINO,ADOLESCENTES,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,1.0
4,CASANARE,AGUAZUL,85010000.0,MOTO,1/01/2010,MASCULINO,ADULTOS,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,1.0
5,CESAR,AGUSTÍN CODAZZI,20013000.0,MOTO,1/01/2010,FEMENINO,ADULTOS,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,1.0
6,GUAJIRA,RIOHACHA (CT),44001000.0,MOTO,1/01/2010,FEMENINO,ADULTOS,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,1.0
7,HUILA,ISNOS,41359000.0,MOTO,1/01/2010,MASCULINO,ADULTOS,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,1.0
8,HUILA,NEIVA (CT),41001000.0,MOTO,1/01/2010,MASCULINO,ADULTOS,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,1.0
9,HUILA,PALERMO,41524000.0,MOTO,1/01/2010,MASCULINO,ADULTOS,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,1.0
10,NARIÑO,SAN ANDRES DE TUMACO,52835000.0,MOTO,1/01/2010,FEMENINO,ADULTOS,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,1.0
11,RISARALDA,LA VIRGINIA,66400000.0,MOTO,1/01/2010,MASCULINO,ADULTOS,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,1.0
12,SANTANDER,CIMITARRA,68190000.0,MOTO,1/01/2010,MASCULINO,ADULTOS,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,1.0
13,SANTANDER,EL PLAYÓN,68255000.0,MOTO,1/01/2010,MASCULINO,ADULTOS,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,1.0
14,ANTIOQUIA,MEDELLÍN (CT),5001000.0,VEHICULO,1/01/2010,FEMENINO,ADULTOS,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,1.0

In [ ]:
#Revisar los ultimos 15 registros de mi Data Frame
df.tail(15)

,DEPARTAMENTO,MUNICIPIO,CODIGO DANE,ARMAS MEDIOS,FECHA HECHO,GENERO,GRUPO ETARÍO,DESCRIPCIÓN CONDUCTA,CANTIDAD
84279,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,NaN
84280,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,NaN
84281,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,NaN
84282,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,NaN
84283,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,NaN
84284,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,NaN
84285,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,NaN
84286,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,NaN
84287,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,NaN
84288,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,NaN
84289,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,NaN
84290,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,NaN
84291,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,NaN
84292,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,NaN
84293,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,NaN

In [ ]:
#Revisar los datos de una fila al azar, en este caso la numero 5 
df.loc[5]

DEPARTAMENTO                                                        CESAR
MUNICIPIO                                                 AGUSTÍN CODAZZI
CODIGO DANE                                                    20013000.0
ARMAS MEDIOS                                                         MOTO
FECHA HECHO                                                     1/01/2010
GENERO                                                           FEMENINO
GRUPO ETARÍO                                                      ADULTOS
DESCRIPCIÓN CONDUCTA    ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...
CANTIDAD                                                              1.0
Name: 5, dtype: object

In [ ]:
#Mostrar los datos más relevantes de la columna "Departamento"
df.DEPARTAMENTO.describe()

count            82354
unique              32
top       CUNDINAMARCA
freq             12282
Name: DEPARTAMENTO, dtype: object

In [ ]:
#Mostrar los datos más relevantes de la columna "Municipio"
df.MUNICIPIO.describe()

count                82354
unique                1798
top       BOGOTÁ D.C. (CT)
freq                  5146
Name: MUNICIPIO, dtype: object

In [ ]:
#Mostrar los datos más relevantes de la columna "Genero"
df.GENERO.describe()

count         82354
unique            5
top       MASCULINO
freq          65481
Name: GENERO, dtype: object

In [ ]:
#Generar un resumen estadístico de la columna "Cantidad"
df.CANTIDAD.describe()

count    82354.000000
mean         1.110074
std          0.404899
min          1.000000
25%          1.000000
50%          1.000000
75%          1.000000
max         16.000000
Name: CANTIDAD, dtype: float64

In [ ]:
#Calcular el promedio de los valores en la columna "Cantidad"
df.CANTIDAD.mean()

np.float64(1.1100735847681957)

In [ ]:
#Mostrar la cantidad de valores no nulos en la columna "Cantidad"
df.CANTIDAD.count()

np.int64(82354)

In [ ]:
#Calcular la desviación estandar de los valores de la columna "Cantidad"
df.CANTIDAD.std()

np.float64(0.4048985289784506)

In [ ]:
#Mostrar el valor minimo de la columna "Cantidad"
df.CANTIDAD.min()

np.float64(1.0)

In [ ]:
#Mostrar el valor máximo de la columna "Cantidad"
df.CANTIDAD.max()

np.float64(16.0)

In [ ]:
#Mostrar la mediana de los valores de la columna "Cantidad"
df.CANTIDAD.median()

np.float64(1.0)

In [ ]:
#Mostrar la moda en la columna "Cantidad"
df.CANTIDAD.mode()

0    1.0
Name: CANTIDAD, dtype: float64

In [ ]:
#Calcular el primer cuartil de la columna "Cantidad"
df.CANTIDAD.quantile(0.25)

np.float64(1.0)

In [ ]:
#Mostrar un resuen estadistico de los valores en la columna "Genero"
df["GENERO"].describe()

count         82354
unique            5
top       MASCULINO
freq          65481
Name: GENERO, dtype: object

In [ ]:
#Mostrar los valores en la columna "Genero"
df.GENERO.unique()

array(['MASCULINO', 'FEMENINO', 'NO REPORTA', 'NO REPORTADO',
       'NO REPOTADO', nan], dtype=object)

In [ ]:
#Mostrar los valores en la columna "Genero"
df["GRUPO ETARÍO"].unique()

array(['ADULTOS', 'ADOLESCENTES', 'MENORES', 'NO REPORTADO',
       'NO REPOTADO', nan], dtype=object)

In [ ]:
#Mostrar los valores en la columna "Genero"
df["DESCRIPCIÓN CONDUCTA"].unique()

array(['ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE DE TRÁNSITO)'],
      dtype=object)

In [ ]:
#Mostrar los valores en la columna "Genero"
df.CANTIDAD.unique()

array([ 1.,  2.,  4.,  3.,  7.,  5., 10.,  8.,  6.,  9., 11., 16., nan])