In [ ]:
#Importar pandas para iniciar con la limpieza de datos

import pandas as pd # type: ignore

In [ ]:
# Cargar mi archivo CSV en un DataFrame de Pandas

df = pd.read_csv("homicidios_source.csv")

In [ ]:
#Mostrar el numero de filas y el numero de columnas de mi Data Frame

df.shape

(84294, 9)

In [ ]:
# Mostrar un resumen de mi Data Frame

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84294 entries, 0 to 84293
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   DEPARTAMENTO          82354 non-null  object
 1   MUNICIPIO             82354 non-null  object
 2   CODIGO DANE           82354 non-null  float64
 3   ARMAS MEDIOS          82354 non-null  object
 4   FECHA HECHO           82354 non-null  object
 5   GENERO                82354 non-null  object
 6   GRUPO ETARÍO          82354 non-null  object
 7   DESCRIPCIÓN CONDUCTA  84294 non-null  object
 8   CANTIDAD              82354 non-null  float64
dtypes: float64(2), object(7)
memory usage: 5.8+ MB

In [ ]:
# Usa el método drop() para eliminar columnas que no se necesitan para el análisis  
# Luego de una revisión previa de mi Data Frame, eliminamos algunas columnas innecesarias para el analisis y guardar el resultado en un nuevo DataFrame llamado df_cleaned

df_cleaned = df.drop(columns=["CODIGO DANE","DESCRIPCIÓN CONDUCTA"])

In [ ]:
# Mostrar nuevamente el resumen de mi Data Frame para validar que se han eliminado las columnas innecesarias 

df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84294 entries, 0 to 84293
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   DEPARTAMENTO  82354 non-null  object
 1   MUNICIPIO     82354 non-null  object
 2   ARMAS MEDIOS  82354 non-null  object
 3   FECHA HECHO   82354 non-null  object
 4   GENERO        82354 non-null  object
 5   GRUPO ETARÍO  82354 non-null  object
 6   CANTIDAD      82354 non-null  float64
dtypes: float64(1), object(6)
memory usage: 4.5+ MB

In [ ]:
# Renombrar algunas columnas de mi Data Frame   

# ARMAS MEDIOS
df_cleaned.rename(columns={'ARMAS MEDIOS': 'ARMAS_MEDIOS'}, inplace=True)

# FECHA HECHO
df_cleaned.rename(columns={'FECHA HECHO': 'FECHA_HECHO'}, inplace=True)

# GRUPO ETARÍO
df_cleaned.rename(columns={'GRUPO ETARÍO': 'GRUPO_ETARIO'}, inplace=True)

# Usa el método info(), que te da información sobre el nuevo conjunto de datos.
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84294 entries, 0 to 84293
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   DEPARTAMENTO  82354 non-null  object
 1   MUNICIPIO     82354 non-null  object
 2   ARMAS_MEDIOS  82354 non-null  object
 3   FECHA_HECHO   82354 non-null  object
 4   GENERO        82354 non-null  object
 5   GRUPO_ETARIO  82354 non-null  object
 6   CANTIDAD      82354 non-null  float64
dtypes: float64(1), object(6)
memory usage: 4.5+ MB

In [ ]:
# Eliminar filas con valores nulos.

df_cleaned = df_cleaned.dropna()

In [ ]:
#Mostrar el resumen del numero de filas y columnas para validar la nueva cantidad de datos 

df_cleaned.shape

(82354, 7)

In [ ]:
# Mostrar la cantidad de filas eliminadas

rows_before = df.shape[0]
rows_after = df_cleaned.shape[0]

rows_before - rows_after

1940

In [ ]:
# Mostrar el resumen de mi Data Frame para validar las acciones previas realizadas.

df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 82354 entries, 0 to 82353
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   DEPARTAMENTO  82354 non-null  object
 1   MUNICIPIO     82354 non-null  object
 2   ARMAS_MEDIOS  82354 non-null  object
 3   FECHA_HECHO   82354 non-null  object
 4   GENERO        82354 non-null  object
 5   GRUPO_ETARIO  82354 non-null  object
 6   CANTIDAD      82354 non-null  float64
dtypes: float64(1), object(6)
memory usage: 5.0+ MB

In [ ]:
# Ajustar de tipos de datos para futuros analisis y mostrar su ajuste en el Data Frame

df_cleaned['DEPARTAMENTO'] = df_cleaned['DEPARTAMENTO'].astype('string')
df_cleaned['MUNICIPIO'] = df_cleaned['MUNICIPIO'].astype('string')
df_cleaned['ARMAS_MEDIOS'] = df_cleaned['ARMAS_MEDIOS'].astype('string')
df_cleaned['GENERO'] = df_cleaned['GENERO'].astype('string')
df_cleaned['GRUPO_ETARIO'] = df_cleaned['GRUPO_ETARIO'].astype('string')
df_cleaned['CANTIDAD'] = df_cleaned['CANTIDAD'].astype('int')

df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 82354 entries, 0 to 82353
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   DEPARTAMENTO  82354 non-null  string
 1   MUNICIPIO     82354 non-null  string
 2   ARMAS_MEDIOS  82354 non-null  string
 3   FECHA_HECHO   82354 non-null  object
 4   GENERO        82354 non-null  string
 5   GRUPO_ETARIO  82354 non-null  string
 6   CANTIDAD      82354 non-null  int64
dtypes: int64(1), object(1), string(5)
memory usage: 5.0+ MB

In [ ]:
# Ajustar el tipo de formato en los valores de la Columna "FECHA_HECHO"  para mostrar en formato fecha.

df_cleaned.FECHA_HECHO = pd.to_datetime(df_cleaned.FECHA_HECHO, format="%d/%m/%Y")

In [ ]:
# Eliminar filas con valores nulos en la columna "FECHA_HECHO"
df_cleaned.dropna(subset=["FECHA_HECHO"], inplace=True)

In [ ]:
# Verificar que la accion anterior se haya completado y que las fechas con formatos inválidos se han eliminado

df_cleaned.FECHA_HECHO.describe()

count                            82354
mean     2018-07-18 01:07:26.491973632
min                2010-01-01 00:00:00
25%                2014-12-24 00:00:00
50%                2019-01-01 00:00:00
75%                2022-08-06 00:00:00
max                2024-10-31 00:00:00
Name: FECHA_HECHO, dtype: object

In [ ]:
# Mostrar los valores unicos de la columna "Armas Medios" en orden alfabético, para validar posibles errores o duplicados en la informacion
sorted(df_cleaned.ARMAS_MEDIOS.unique())

['BICICLETA',
 'CONTUNDENTES',
 'MOTO',
 'NO REPORTADO',
 'NO REPOTADO',
 'SIN EMPLEO DE ARMAS',
 'TREN',
 'VEHICULO']

In [ ]:
# Luego de validar los datos con la accion anterior, proceder a reemplazar las palabras 'NO REPOTADO' por 'NO REPORTADO' en la columna "Armas Medios"

df_cleaned.ARMAS_MEDIOS = df_cleaned.ARMAS_MEDIOS.replace("NO REPOTADO","NO REPORTADO")

In [ ]:
# Mostrar nuevamente los valores en la columna "Armas Medios" para validar los cambios

sorted(df_cleaned.ARMAS_MEDIOS.unique())

['BICICLETA',
 'CONTUNDENTES',
 'MOTO',
 'NO REPORTADO',
 'SIN EMPLEO DE ARMAS',
 'TREN',
 'VEHICULO']

In [ ]:
# Mostrar los valores unicos de la columna "Genero" en orden alfabético, para validar posibles errores o duplicados en la informacion
sorted(df_cleaned.GENERO.unique())

['FEMENINO', 'MASCULINO', 'NO REPORTA', 'NO REPORTADO', 'NO REPOTADO']

In [ ]:
# Luego de validar los datos con la accion anterior, proceder a reemplazar las palabras'NO REPORTADO' por 'NO REPORTA', y 'NO REPOTADO' por 'NO REPORTA' en la columna "Genero"

df_cleaned.GENERO = df_cleaned.GENERO.replace("NO REPORTADO","NO REPORTA")
df_cleaned.GENERO = df_cleaned.GENERO.replace("NO REPOTADO", "NO REPORTA")

In [ ]:
# Mostrar nuevamente los valores en la columna "Genero" para validar los cambios
sorted(df_cleaned.GENERO.unique())

['FEMENINO', 'MASCULINO', 'NO REPORTA']

In [ ]:
# Mostrar los valores unicos de la columna "Grupo Etario" en orden alfabético, para validar posibles errores o duplicados en la informacion
sorted(df_cleaned.GRUPO_ETARIO.unique())

['ADOLESCENTES', 'ADULTOS', 'MENORES', 'NO REPORTADO', 'NO REPOTADO']

In [ ]:
# Luego de validar los datos con la accion anterior, proceder a reemplazar las palabras 'NO REPOTADO' por 'NO REPORTADO' en la columna "Grupo Etario"
df_cleaned.GRUPO_ETARIO = df_cleaned.GRUPO_ETARIO.replace("NO REPOTADO", "NO REPORTADO")

In [ ]:
# Mostrar nuevamente los valores en la columna "Grupo Etario" para validar los cambios
sorted(df_cleaned.GRUPO_ETARIO.unique())

['ADOLESCENTES', 'ADULTOS', 'MENORES', 'NO REPORTADO']

In [ ]:
# Eliminamos todos los duplicados.

df_cleaned.drop_duplicates(subset=None, keep='first', inplace=True)

In [ ]:
# Mostrar la cantidad de datos a analizar en mi Data Frame, Filas y Columnas.

df_cleaned.shape

(76467, 7)

In [ ]:
# Mostrar un resumen de mi Data Frame, para validar las columnas, y cantidad de filas, y el tipo de datos que tenemos listo para analizar

df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 76467 entries, 0 to 82353
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   DEPARTAMENTO  76467 non-null  string
 1   MUNICIPIO     76467 non-null  string
 2   ARMAS_MEDIOS  76467 non-null  string
 3   FECHA_HECHO   76467 non-null  datetime64[ns]
 4   GENERO        76467 non-null  string
 5   GRUPO_ETARIO  76467 non-null  string
 6   CANTIDAD      76467 non-null  int64
dtypes: datetime64[ns](1), int64(1), string(5)
memory usage: 4.7 MB

In [ ]:
# Guardar el nuevo Data Frame con los ajustes realizados en un archivo CSV

df_cleaned.to_csv("homicidios_clean.csv", index=False)

print("\nEl archivo CSV ha sido guardado.")

El archivo CSV ha sido guardado.